body {
    margin: 0;
    font-family: Arial,Sans-Serif;
    background-color: #FFF8EE;
    color: #1A1A1A;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFF8EE;
    position: relative;
}
header img {
    width: 100px;
}
.icone-menu {
    font-size: 28px;
    color: #B24A5E;
    cursor: pointer;
}
.menu-checkbox {
    display: none;
}
nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #FFF8EE;
    z-index: 1000;
}
.menu-checkbox:checked ~ nav {
    display: block;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    padding: 12px 20px;
}
nav a {
    color: #1A1A1A;
    text-decoration: none;
}