body {
    margin: 0;
    font-family: Arial,Sans-Serif;
    background-color: #FFF8EE;
    color: #1A1A1A;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #FFF8EE;
}
header img {
    width: 100px;
}
.icone-menu {
    font-size: 28px;
    color: #B24A5E;
    cursor: pointer;
}
.menu-checkbox {
    display: none;
}
nav {
    display: none;
}
.menu-checkbox:checked ~ nav {
    display: block;
}